<!DOCTYPE html>
<html lang="en" data-ng-app="angular-ac">
<head>
  <title>archronos | Activity Feed</title>

  <meta charset="utf-8">
  <meta property="description" name="description" content="">
  <base href="/">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body data-ng-controller="AppController">
  <div class="container">

    <header>
      <h1>Technical test</h1>
    </header>

    <div class="container-view" data-ui-view></div>
  </div>

  <!-- Load AngularJS libs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
